:root {
    --font-Ununtu: 'Ubuntu Condensed', sans-serif;
    --font-Alata: 'Alata', sans-serif;
}

/*  Global selector  */
body {
    background-color: rgb(255, 183, 183);
    font-family: var(--font-Ununtu);
    margin: 1rem 2rem 0rem 2rem;
}
a {
    text-decoration: none;
}
section {
    display: flex;
}
section h1 {
    font-size: 3rem;
}
article {
    border: 1px solid #EDEFEE;
    padding-left: 1rem;
    padding-right: 1rem;
}
article img {
    max-width: 100%;
}
/*  Header */
header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

/*  Nav Bar */
nav ul {
    display: flex;
    background-color: #495E57;
    border-radius: 1rem;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
[class*="nav"]:link {
    color: rgb(255, 255, 255);
}
[class*="nav"]:visited {
    color: rgb(141, 127, 136);
}
[class*="nav"]:hover {
    color: rgb(47, 194, 174);
}
[class*="nav"]:active {
    color: rgb(163, 0, 0);
}

.navBar li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #ff0095;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navBar li:hover::after {
    width: 100%;
}

/*  Booking banner */
#booking {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../project/assets/restaurant_inside.jpg);
    background-size: cover;
    background-position: 75%;
    color: white;
    width: 100%;
    min-height: 10rem;
    text-align: center;
    margin-bottom: 1rem;
}
#booking > h1 {
    font-size: 3rem;
    font-family: var(--font-Alata);
    margin-top: 1.5rem;
    margin-bottom: 0;
}
#booking > p {
    font-size: 2rem;
    font-family: var(--font-Alata);
}
#booking > a {
    font-size: 2rem;
    font-family: var(--font-Alata);
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    width: 200px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 8px;
    border: 3px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    margin: 1rem;
    z-index: 1;
}
#booking a::before {
    content: "";
    height: 100%;
    width: 0;
    position: absolute;
    background-color: #00ffaa96;
    top: 0;
    left: 0;
    z-index: 0;
    transition: .3s ease-in-out;
}
#booking a:hover::before {
    width: 100%;
}

/*  3 Columns */
.section-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin: 2rem 0;
}
#columns h2{
    font-size: 2rem;
    font-family: var(--font-Alata);
}
#columns :is(p, a) {
    font-size: 1.5rem;
}



/*  Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161b1b;
    color:azure
}
footer ~ div {
    display: block;
    text-align: center;
}
footer div > ul {
    list-style-type: none;
}
footer .left-footerBar {
    flex-grow: 0.3;
}
footer .middle-footerBar {
    flex-grow: 0.2;
}
footer .right-footerBar {
    flex-grow: 0.5;
}
.right-footerBar {
    border-top: 1px solid rgb(255, 255, 255);
}
.right-footerBar p {
    text-align: end;
}
footer .footer-img {
    margin-left: auto;
    margin-right: auto;
    width: 4rem;
}